.sec1{
    background-image: url(./images/IMAGE\ -\ 2025-11-22T165011.958.png);
    width: 100%;
    height: 962px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right;
    

}